<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Halfdeveloped: {{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/defaults.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
  <header class="hdcom-site-header">
    <nav>
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
    </nav>
  </header>

  <main>
    <section>
      {{ content }}
    </section>
  </main>
</body>

</html>