.hdcom-postMeta {
  padding: 0.5rem 0rem;
}

.hdcom-postMeta > span {
  margin-right: 2rem;
  font-family: var(--font-sans-bold);
}

.hdcom-postMeta > span > i {
  margin-right: 0.5rem;
}

.hdcom-postHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
