@font-face {
  font-family: "Lora";
  src: local("Lora-Medium"),
       url("/assets/fonts/Lora-Medium.ttf");
}

@font-face {
  font-family: "Lora Bold";
  src: local("Lora-Bold"),
       url("/assets/fonts/Lora-Bold.ttf");
}

@font-face {
  font-family: "Lora Light";
  src: local("Lora-Regular"),
       url("/assets/fonts/Lora-Regular.ttf");
}

@font-face {
  font-family: "Space Grotesk";
  src: local("SpaceGrotesk-Regular"),
       url("/assets/fonts/SpaceGrotesk-Regular.ttf");
}

@font-face {
  font-family: "Space Grotesk Bold";
  src: local("SpaceGrotesk-Bold"),
       url("/assets/fonts/SpaceGrotesk-Bold.ttf");
}

@font-face {
  font-family: "Space Grotesk Light";
  src: local("SpaceGrotesk-Light"),
       url("/assets/fonts/SpaceGrotesk-Light.ttf");
}

:root {
  --content-width: 700px;
  --color-bg: #fffbfe;
  --color-yellow: #ffd151;
  --color-gray: #383F51;
  --color-blue: #3C4F76;
  --color-blue-transparent: rgba(60, 79, 118, 0.12);
  --color-black: #303030;
  --border-radius: 4px;
  --font-sans: 'Space Grotesk', sans-serif;
  --font-sans-bold: 'Space Grotesk Bold', sans-serif;
  --font-serif: 'Lora', serif;
  --font-serif-light: 'Lora Light', serif;
}

body {
  background-color: var(--color-bg);
  color: var(--color-gray);
  font-family: var(--font-serif);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

footer {
  padding: 1rem;
  font-family: var(--font-sans);
  text-transform: uppercase;
  font-size: .8rem;
  text-shadow: 1px 1px 0px var(--color-yellow);
}

p {
  font-size: 1.1rem;
  font-family: var(--font-serif-light);
  line-height: 1.8;
  margin-bottom: 1rem;
  text-rendering: optimizelegibility !important;
  letter-spacing: .03em;
}

ul, ol {
  font-size: 1.1rem;
  line-height: 1.8;
  list-style: initial;
  list-style-position: inside;
  font-family: 'Space Grotesk', sans-serif;
  margin-bottom: 1rem;
  letter-spacing: .03em;
}

li > ul {
  margin: 0;
  padding-left: 1rem;
}

em {
  font-style: italic;
}

h1, h2, h3, h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-family: var(--font-sans-bold);
  display: inline-block;
  letter-spacing: .03em
}

h1 {
  text-shadow: 3px 3px 0px var(--color-yellow);
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
  text-shadow: 2px 2px 0px var(--color-yellow);
  border-radius: var(--border-radius);
}

h3 {
  text-shadow: 1px 1px 0px var(--color-yellow);
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

main > * {
  width: min(var(--content-width), 90vw);
}

article {
  padding: 1rem 0rem;
}

p > code {
  font-family: monospace;
  font-size: 0.9rem;
  padding: 0 0.125rem;
  background: var(--color-blue);
  color: var(--color-bg);
  border-radius: var(--border-radius);
}

pre > code {
  display: block;
  padding: 1rem;
  font-family: monospace;
  line-height: 1.5;
  background: var(--color-blue);
  color: var(--color-yellow);
  border-radius: var(--border-radius);
  overflow: auto;
  margin-bottom: 1rem;
}

main img {
  width: min(400px, 90vw);
  height: 100%;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

main blockquote {
  background-color: var(--color-blue-transparent);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}