<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/defaults.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>

<body>
  <main>
    <article>
      <div></div>
      {{ content }}
    </article>
  </main>
</body>

</html>